@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fylo {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 100%;
}

.testimonial {
  background-size: cover;
  background-position: center;
}

.card-text {
  font-size: 0.9rem;
  line-height: 1.7;
}

.testimonial-name {
  font-size: 0.8rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: hsl(243, 87%, 12%);
}
